<div>
  Notes :
  <div style="display: inline-block;">
    <input type="radio" id="none" name={{id}} value="none" checked>
    <label for="none">Aucune</label>
  </div>
  <div style="display: inline-block;">
    <input type="radio" id="1" name={{id}} value="1">
    <label for="1">1</label>
  </div>
  <div style="display: inline-block;">
    <input type="radio" id="2" name={{id}} value="2">
    <label for="2">2</label>
  </div>
  <div style="display: inline-block;">
    <input type="radio" id="3" name={{id}} value="3">
    <label for="3">3</label>
  </div>
  <div style="display: inline-block;">
    <input type="radio" id="4" name={{id}} value="4">
    <label for="4">4</label>
  </div>
  <div style="display: inline-block;">
    <input type="radio" id="5" name={{id}} value="5">
    <label for="5">5</label>
  </div>
  : 5/5 <!--A modif-->
  <button (click)="modifNote()"></button>
</div>
